// main colors

$white: #fff;
$black: #333;
$dark-font: #3A393C;
$grey-font: #ababab;
$light-grey: #dadada;

$default-grey: #dedede;
$hover-grey: #cacaca;

$primary-color: #309B42;
$primary-color-hover: #0D7C20;
$primary-color-active: #00BE20;
$danger: #FF4F4F;

// border-radius
$bdr: 4px;

.calculator {
    margin: 30px 15px 45px;

    @media (min-width: 576px) {
        margin: 30px 40px 45px; 
    }

    @media (min-width: 768px) {
        margin: 30px 18px 38px;
    }

    @media (min-width: 1024px) {
        margin: 60px 34px 40px;
    }

    @media (min-width: 1366px) {
        max-width: 1260px;
        margin: 60px auto 100px;
    }

    &__title {
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 20px;
        font-weight: 500;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__calc {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 768px) {
            width: 40%;
        }
        
    }

    &__subtitle {
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500; 
    }

    &__highlight {
        font-size: 14px;
        color: transparentize($black, 0.4);
        margin-bottom: 8px;

        @media (min-width: 768px) {
            margin-bottom: 16px;
        }

        .highlighted {
            font-weight: 600;
            color: $primary-color;
        }
    }

    &__tabs {
        display: flex;
        margin-bottom: 28px;
        width: 100%;

        .calculator__tab {
            font-size: 12px;
            color: transparentize($black, 0.3);
            background: $white;
            border: 1px solid $primary-color;
            transition: ease-in-out 0.3s;
            cursor: pointer;
            height: 38px;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: 1025px) {
                height: 49px;
            }

            &:first-child {
                border-radius: $bdr 0 0 $bdr;
                border-right: none;
            }
            &:last-child {
                border-radius: 0 $bdr $bdr 0;
                border-left: none;
            }

             &--active {
                background-color: $primary-color;
                color: $white;
                pointer-events: none;
            }

            &:hover {
                color: $black;
            }
        }
    }

    &__form {
        width: 100%;

        .calculator__field {
            margin-bottom: 20px;
            position: relative;

            span {
                font-size: 12px;
                color: $grey-font;
                margin-bottom: 4px;
            }

            .calculator__fake-input,  .calculator__input {
                padding: 12px;
                border: 1px solid $default-grey;
                border-radius: $bdr;
                width: 100%;
                color: $dark-font;
                font-family: inherit;
                position: relative;

                span {
                    font-size: 16px;
                }
        
                &:hover {
                    border-color: $hover-grey;
                }
        
                &.disabled {
                    color: $default-grey;
                }
        
                &.error {
                    border-color: $danger;
                }
            }

            

            input[type="range"] {
                display: block;
                -webkit-appearance: none;
                width: calc(100% - 8px);
                height: 1px;
                background: $grey-font;
                border-radius: $bdr;
                margin: 0 auto;
                outline: 0;
                position: absolute;
                bottom: 1px;
                left: 4px;
                z-index: 10;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    background-color: $primary-color;
                    background-image: url(../icons/range-default.svg);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: ease-in-out 0.3s;
                    z-index: 11;

                    &:hover {
                        background-image: url(../icons/range-hover.svg);
                    }

                    &:active {
                        background-image: url(../icons/range-active.svg);

                        
                    }
                }

                &[data-type="number"] {

                    & + .calculator__input-progress::after {
                        content: '₽';
                        color: $grey-font;
                        padding-left: 8px;
                    }
                }

                
                &.active {
                    & + span {
                        color: $black;
                    }

                    &~.range-progress {
                        background: $primary-color-active;
                    }
                }

                &.disabled {
                    pointer-events: none;

                    & + span {
                        color: $grey-font;
                    }

                    &~.range-progress {
                        background: $grey-font;
                    }

                    &::-webkit-slider-thumb {
                        background-image: url(../icons/range-disabled.svg);
                    }
                }
            }

            .range-progress {
                display: inline-block;
                height: 1px;
                background: $primary-color;
                position: absolute;
                bottom: 0;
                left: 4px;
                margin: 0;
                max-width: 97%;
            }
        }
    }

    &__btn {
        width: 100%;
        border: 1px solid $primary-color;
        border-radius: $bdr;
        background: $white;
        padding: 18px 10px 16px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.2;
        color: $primary-color;
        transition: ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
            color: $white;
            background: $primary-color;
        }

        &:disabled {
            color: $grey-font;
            border-color: $grey-font;
            pointer-events: none;
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: $light-grey;
        margin: 28px 0;
    }

    &__data {
        display: none;
        @media (min-width: 768px) {
            width: 60%;
        }

        &--active {
            display: block;
        }
    }

    &__card {
        padding: 24px 16px;
        border: 1px solid;
        border-radius: 8px;
        margin-bottom: 8px;
        color: $black;

        @media (min-width: 768px) {
            margin-bottom: 16px;
        }

        &--standart {
            background-color: $white;
            border-color: $grey-font;
        }

        &--best {
            background-color: $primary-color;
            border-color: $primary-color;
            color: $white;
            .calculator__card__info-col-name {
                color: transparentize(#fff, 0.3);
            }
        }

        &--basic {
            background-color: $default-grey;
            border-color: $default-grey;
        } 

        &__title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 12px;      
        }

        &__info {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            @media (min-width: 1024px) {
                row-gap: 24px;
            }
            @media (min-width: 1366px) {
                grid-template-columns: repeat(4, 1fr);
            }
            &-col {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &-name {
                    font-size: 13px;
                    color: $grey-font;
                    margin-bottom: 10px;
                }
                &-value {
                    font-size: 18px;
                    &.highlighted {
                        color: $primary-color;
                        font-weight: 600;
                    }
                    &[data-type="percent"] {
                        font-weight: 600;
                    }
                }
            }
        }
    }

}