@charset "UTF-8";
.calculator {
  margin: 30px 15px 45px;
}

@media (min-width: 576px) {
  .calculator {
    margin: 30px 40px 45px;
  }
}

@media (min-width: 768px) {
  .calculator {
    margin: 30px 18px 38px;
  }
}

@media (min-width: 1024px) {
  .calculator {
    margin: 60px 34px 40px;
  }
}

@media (min-width: 1366px) {
  .calculator {
    max-width: 1260px;
    margin: 60px auto 100px;
  }
}

.calculator__title {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.calculator__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .calculator__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.calculator__calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .calculator__calc {
    width: 40%;
  }
}

.calculator__subtitle {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.4;
}

.calculator__highlight {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.6);
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .calculator__highlight {
    margin-bottom: 16px;
  }
}

.calculator__highlight .highlighted {
  font-weight: 600;
  color: #309B42;
}

.calculator__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
  width: 100%;
}

.calculator__tabs .calculator__tab {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.7);
  background: #fff;
  border: 1px solid #309B42;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  height: 38px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
}

@media (min-width: 1025px) {
  .calculator__tabs .calculator__tab {
    height: 49px;
    font-size: 14px;
  }
}

.calculator__tabs .calculator__tab:first-child {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.calculator__tabs .calculator__tab:last-child {
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.calculator__tabs .calculator__tab--active {
  background-color: #309B42;
  color: #fff;
  pointer-events: none;
}

.calculator__form {
  width: 100%;
}

.calculator__field {
  margin-bottom: 20px;
  position: relative;
}

.calculator__field span {
  font-size: 12px;
  color: #ababab;
  margin-bottom: 4px;
}

.calculator__field .calculator__fake-input, .calculator__field .calculator__input {
  padding: 12px;
  border: 1px solid #dedede;
  border-radius: 4px;
  width: 100%;
  color: #3A393C;
  font-family: inherit;
  position: relative;
  font-weight: 300;
}

.calculator__field .calculator__fake-input span, .calculator__field .calculator__input span {
  font-size: 16px;
}

.calculator__field .calculator__fake-input:hover, .calculator__field .calculator__input:hover {
  border-color: #cacaca;
}

.calculator__field .calculator__fake-input.disabled, .calculator__field .calculator__input.disabled {
  color: #ababab;
}

.calculator__field .calculator__fake-input.error, .calculator__field .calculator__input.error {
  border-color: #FF4F4F;
}

.calculator__field input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: calc(100% - 8px);
  height: 1px;
  background: #ababab;
  border-radius: 4px;
  margin: 0 auto;
  outline: 0;
  position: absolute;
  bottom: 1px;
  left: 4px;
  z-index: 10;
}

.calculator__field input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #309B42;
  background-image: url(../icons/range-default.svg);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  z-index: 11;
}

.calculator__field input[type="range"]::-webkit-slider-thumb:hover {
  background-image: url(../icons/range-hover.svg);
}

.calculator__field input[type="range"]::-webkit-slider-thumb:active {
  background-image: url(../icons/range-active.svg);
}

.calculator__field input[type="range"][data-type="number"] + .calculator__input-progress::after {
  content: '₽';
  color: #ababab;
  padding-left: 8px;
}

.calculator__field input[type="range"].active + span {
  color: #333;
}

.calculator__field input[type="range"].active ~ .range-progress {
  background: #00BE20;
}

.calculator__field input[type="range"].disabled {
  pointer-events: none;
}

.calculator__field input[type="range"].disabled + span {
  color: #ababab;
}

.calculator__field input[type="range"].disabled ~ .range-progress {
  background: #ababab;
}

.calculator__field input[type="range"].disabled::-webkit-slider-thumb {
  background-image: url(../icons/range-disabled.svg);
}

.calculator__field .range-progress {
  display: inline-block;
  height: 1px;
  background: #309B42;
  position: absolute;
  bottom: 0;
  left: 4px;
  margin: 0;
  max-width: 97%;
}

.calculator__btn {
  width: 100%;
  border: 1px solid #309B42;
  border-radius: 4px;
  background: #fff;
  padding: 18px 10px 16px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  color: #309B42;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.calculator__btn:hover {
  color: #fff;
  background: #309B42;
}

.calculator__btn:disabled {
  color: #ababab;
  border-color: #ababab;
  pointer-events: none;
}

.calculator .divider {
  width: 100%;
  height: 1px;
  background-color: #dadada;
  margin: 28px 0;
}

.calculator__data {
  display: none;
}

@media (min-width: 768px) {
  .calculator__data {
    width: 60%;
  }
}

.calculator__data--active {
  display: block;
}

.calculator__card {
  padding: 24px 16px;
  border: 1px solid;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #333;
}

@media (min-width: 768px) {
  .calculator__card {
    margin-bottom: 16px;
  }
}

.calculator__card.partial_subsidy {
  background-color: #fff;
  border-color: #ababab;
}

.calculator__card.partial_subsidy .highlighted {
  color: #309B42;
}

.calculator__card.full_subsidy {
  background-color: #309B42;
  border-color: #309B42;
  color: #fff;
}

.calculator__card.full_subsidy .calculator__card__info-col-name {
  color: rgba(255, 255, 255, 0.7);
}

.calculator__card.basic {
  background-color: #dedede;
  border-color: #dedede;
}

.calculator__card__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.calculator__card__info {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 1024px) {
  .calculator__card__info {
    row-gap: 24px;
  }
}

@media (min-width: 1366px) {
  .calculator__card__info {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.calculator__card__info-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__card__info-col-name {
  font-size: 13px;
  color: #ababab;
  margin-bottom: 10px;
}

.calculator__card__info-col-value {
  font-size: 18px;
}

.calculator__card__info-col-value[data-type="percent"] {
  font-weight: 600;
}

.calculator .calc-popup {
  display: none;
}

.calculator .calc-popup--active {
  display: block;
}

.calculator .calc-popup__body {
  position: fixed;
  width: 100vw;
  top: 47%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  background: #fff;
  border-radius: 12px;
  padding: 40px;
  text-align: center;
}

@media (min-width: 768px) {
  .calculator .calc-popup__body {
    width: 550px;
  }
}

.calculator .calc-popup__bg {
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.calculator .calc-popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .calculator .calc-popup__close {
    right: -50px;
    top: -40px;
  }
}

.calculator .calc-popup__close:hover:before, .calculator .calc-popup__close:hover:after {
  background-color: #fff;
}

.calculator .calc-popup__close:before, .calculator .calc-popup__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #dadada;
}

.calculator .calc-popup__close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.calculator .calc-popup__close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.calculator .calc-popup__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #333;
}

.calculator .calc-popup__message {
  font-size: 16px;
  margin-bottom: 20px;
  color: #3A393C;
}

.calculator .calc-popup__btn {
  max-width: 300px;
  color: #fff;
  background: #309B42;
  margin-top: 10px;
}

.calculator .calc-popup__btn:hover, .calculator .calc-popup__btn:active {
  color: #309B42;
  background: #fff;
}

.calculator .calc-popup__btn:disabled {
  background-color: #fff;
  color: #ababab;
  border-color: #ababab;
  pointer-events: none;
}
/*# sourceMappingURL=calculator.css.map */