// main colors

$white: #fff;
$black: #333;
$dark-font: #3A393C;
$grey-font: #ababab;

$default-grey: #dedede;
$hover-grey: #cacaca;

$primary-color: #309B42;
$primary-color-active: #00BE20;
$danger: #FF4F4F;

// border-radius
$bdr: 4px;

.calculator {
    width: 100%;
    max-width: fit-content;
    margin: 30px 15px 45px;

    @media (min-width: 576px) {
        margin: 30px 40px 45px; 
    }

    @media (min-width: 768px) {
        margin: 30px 18px 38px;
    }

    @media (min-width: 1024px) {
        margin: 60px 34px 40px;
    }

    @media (min-width: 1366px) {
        max-width: 1260px;
        margin: 60px auto 100px;
    }

    &__title {
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 20px;
        font-weight: 500;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__calc {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 1025px) {
            max-width: 460px;
        }
        
    }

    &__subtitle {
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500; 
    }

    &__tabs {
        display: flex;
        margin-bottom: 28px;
        width: 100%;

        .calculator__tab {
            font-size: 12px;
            color: opacify($black, 0.7);
            background: $white;
            border: 1px solid $primary-color;
            transition: ease-in-out 0.3s;
            cursor: pointer;
            height: 38px;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: 1025px) {
                height: 49px;
            }

            &:first-child {
                border-radius: $bdr 0 0 $bdr;
                border-right: none;
            }
            &:last-child {
                border-radius: 0 $bdr $bdr 0;
                border-left: none;
            }

            &:hover {
                    background-color: $primary-color;
                    color: $white;
            }
        }
    }

    &__form {
        width: 100%;

        .calculator__field {
            margin-bottom: 20px;

            span {
                font-size: 12px;
                color: $grey-font;
                margin-bottom: 4px;
            }

            .calculator__fake-input,  .calculator__input {
                padding: 12px;
                border: 1px solid $default-grey;
                border-radius: $bdr;
                width: 100%;
                color: $dark-font;
                font-family: inherit;
                position: relative;

                span {
                    font-size: 16px;
                }
        
                &:hover {
                    border-color: $hover-grey;
                }
        
                &.disabled {
                    color: $default-grey;
                }
        
                &.error {
                    border-color: $danger;
                }
            }

            

            input[type="range"] {
                display: block;
                -webkit-appearance: none;
                width: calc(100% - 8px);
                height: 1px;
                background: $grey-font;
                border-radius: $bdr;
                margin: 0 auto;
                outline: 0;
                position: absolute;
                bottom: 0;
                left: 4px;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    background-color: $primary-color;
                    background-image: url(../icons/range-default.svg);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: ease-in-out 0.3s;
                    z-index: 11;

                    &:hover {
                        background-image: url(../icons/range-hover.svg);
                    }

                    &:active {
                        background-image: url(../icons/range-active.svg);

                        
                    }
                }

                & + span {
                    color: $black;
                }
                
                &.active {
                    & + span {
                        color: $black;
                    }

                    &~.range-progress {
                        background: $primary-color-active;
                    }
                }

                &.disabled {
                    pointer-events: none;

                    & + span {
                        color: $grey-font;
                    }

                    &~.range-progress {
                        background: $grey-font;
                    }

                    &::-webkit-slider-thumb {
                        background-image: url(../icons/range-disabled.svg);
                    }
                }
            }

            .range-progress {
                display: inline-block;
                height: 1px;
                background: $primary-color;
                position: absolute;
                bottom: 0;
                left: 4px;
                margin: 0;
            }
        }
    }
}